.linepath {
  stroke-linecap: round;
  mix-blend-mode: multiply;
  fill: none;
}

[class^=axis-label] {
  fill: black;
  font-size: 20px;
}

.axis-label-y:hover {
  cursor: pointer;
}

.tick line {
	stroke: #d3d3d3
}

.title {
  font-size: 1.8em;
}

.legend:hover {
  cursor: crosshair;
}

.d-dots {
  opacity: 0.5;
}